<div class="bg-gray-100">
    <div class="max-w-4xl mx-auto px-4 py-8">
        <button routerLink="" class="material-icons rounded-full bg-green-500 px-10 py-2 flex">arrow_back</button>
        <h1 class="text-4xl font-bold text-gray-900 mb-4">Nom de la recette</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div>
                <img src="chemin/vers/image.jpg" alt="Ma recette" class="rounded-lg">
            </div>
            <div>
                <h2 class="text-xl font-bold text-gray-900 mb-2">Informations de recette</h2>
                <ul class="list-disc ml-4">
                    <li><strong>Catégorie:</strong> Catégorie de la recette</li>
                    <li><strong>Pays d'origine:</strong> Pays d'origine de la recette</li>
                </ul>
                <div class="max-h-80 overflow-y-auto">
                    <p class="text-lg text-gray-900 mt-8">
                      <strong class="text-orange-500" >Instructions de préparation :</strong>
                      <span>Instructions de préparation de la recette</span>
                    </p>
                  </div>
                  
                  

                <h2 class="text-xl font-bold text-gray-900 mb-2 mt-8">Vidéo</h2>
                <div class="aspect-w-16 aspect-h-9">
                    <iframe src="https://www.youtube.com/embed/video_id" title="Ma recette" class="rounded-lg" allowfullscreen></iframe>
                </div>
                
            </div>
        </div>
    </div>
</div>
